@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


}

.color-white{
  color: white
}
.d-flex{
  display: flex;;
}
.align-items-start{
  align-items: start;
}
.w-150{
  width: 150px;
}

.mr-50{
  margin-right: 50px;
}

